<div class="month-selection" *ngIf="!showTwoMonths">
    <div class="month">
        <header-buttons type="back" (monthClick)="minusMonth(0)" (yearClick)="minusYear(0)"></header-buttons>

        <div class="label">
            {{ monthSelections[0].label }}
        </div>

        <header-buttons type="forward" (monthClick)="addMonth(0)" (yearClick)="addYear(0)"></header-buttons>
    </div>
</div>

<div class="month-selection" *ngIf="showTwoMonths">
    <div class="month">
        <header-buttons type="back" (monthClick)="minusMonth(0)" (yearClick)="minusYear(1)"></header-buttons>

        <div class="label">
            {{ monthSelections[0].label }}
        </div>

        <span *ngIf="linkedMonths else forwardButtons">&nbsp;</span>

        <ng-template #forwardButtons>
            <header-buttons type="forward" (monthClick)="addMonth(0)" (yearClick)="addYear(0)">
            </header-buttons>
        </ng-template>

    </div>

    <div class="month">
        <span *ngIf="linkedMonths else backwardButtons">&nbsp;</span>

        <ng-template #backwardButtons>
            <header-buttons type="back" (monthClick)="minusMonth(1)" (yearClick)="minusYear(1)">
            </header-buttons>
        </ng-template>

        <div *ngIf="showTwoMonths" class="label">
            {{ monthSelections[1].label }}
        </div>

        <header-buttons type="forward" (monthClick)="addMonth(1)" (yearClick)="addYear(1)"></header-buttons>

    </div>
</div>