<header-buttons 
    type="back" 
    *ngIf="!showTwoMonths || monthIndex === 0 || !linkedMonths"
    (monthClick)="minusMonth(0)" 
    (yearClick)="minusYear(0)">
</header-buttons>

<span class="filler"></span>

<span class="label" *ngIf="monthSelections && monthSelections.length">
    {{ monthSelections[monthIndex].labelWithConfig(monthLabels) }}
</span>

<span class="filler"></span>

<header-buttons 
    *ngIf="!showTwoMonths || monthIndex === 1  || !linkedMonths"
    type="forward" 
    (monthClick)="addMonth(0)" 
    (yearClick)="addYear(0)">
</header-buttons>
