<header-buttons 
    [class]="buttonClasses"
    type="back" 
    *ngIf="!showTwoMonths || monthIndex === 0 || !linkedMonths"
    (monthClick)="minusMonth(0)" 
    (yearClick)="minusYear(0)"
    [showChangeMonthButton]="context.showChangeMonthButton"
    [showChangeYearButton]="context.showChangeYearButton">
</header-buttons>

<span class="filler"></span>

<span class="label" *ngIf="monthSelections && monthSelections.length">
    {{ monthSelections[monthIndex].labelWithConfig(monthLabels) }}
</span>

<span class="filler"></span>

<header-buttons 
    [class]="buttonClasses"
    *ngIf="!showTwoMonths || monthIndex === 1  || !linkedMonths"
    type="forward" 
    (monthClick)="addMonth(0)" 
    (yearClick)="addYear(0)"
    [showChangeMonthButton]="context.showChangeMonthButton"
    [showChangeYearButton]="context.showChangeYearButton">
</header-buttons>
