:host {
    flex: 1 1 auto;
    position: relative;
}

.overlay {
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: .1;
}

.overlay:hover {
    background: #666;
}

.date-label {
    background: none;
    margin: 0;
}

.date-label span {
    background: none
}

// .date-label .cell-default-today {
//     border-radius: 50%;
//     border: 1px solid #39f;
//     padding: 2px;
//     width: 24px;
//     height: 24px;
//     line-height: 24px;
//     display: inline-block;
// }

.day {
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.day.cell-default  {
    min-width:31px; 
    min-height:31px; 
    padding: 4px;
    color: #333;
}

.cell-default-selected {
    background: #999;
}

.cell-default-in-range {
    background: #ccc;
}

.cell-default-past {
    background: #eee;
}

.cell-default-outside-month {
    background: transparent;
    border: none;
}

.overlay:hover {
    opacity: .2;
}