<calendar #calendar [dates]="dates" [config]="config" (selectionChange)="onSelectionChange($event)">
  
  <ng-container *calendarCell="let cellData;">
      
      <calendar-date-item 
        [cellData]="cellData">
      </calendar-date-item>

  </ng-container>
    
</calendar>

calendar {{ calendar.calendar.config | json}}

<div>
  <label>First Day </label>
  <input type="number" placeholder="first day" [value]="config.firstDay" (change)="onFirstDayChange(firstDay.value)" #firstDay>
  <hr/>
  <label>Hide Weekends</label>
  <input type="checkbox" [checked]="config.hideWeekends" (change)="config.hideWeekends = hideWeekends.checked" #hideWeekends>
  <hr/>
  <label>Hide Days Outside Month</label>
  <input type="checkbox" [checked]="config.hideDaysOutsideMonth" (change)="config.hideDaysOutsideMonth = hideDaysOutsideMonth.checked" #hideDaysOutsideMonth>
</div>

<div class="selection-form" *ngIf="selection">
  <h4>Update price for {{ selection.from() }} - {{ selection.to() }}</h4>

  <label>Price</label>
  <input type="number" #price>
  <button (click)="updatePrice(price.value)">Apply new Price</button>

</div>
