<!--
    <calendar-header 
        [linkedMonths]="config.header.linkedMonths" 
        [monthSelections]="[ selection.calendarMonthView.from, selection.calendarMonthView.to ]"
        [showTwoMonths]="selection.calendarMonthView.needTwoMonthView && calendar.config.month.showTwoCalendarIfNeed">
    </calendar-header>
-->

<div class="calendar">

    <calendar-month-view 
        [calendar]="calendar"
        [selection]="selection"
        [config]="config"
        [monthSelection]="selection.calendarMonthView.from"
        [cellStyleClasses]="cellStyleClasses"
        [getTemplate]="getTemplate.bind(this)">
    </calendar-month-view>

    <calendar-month-view 
        *ngIf="selection.calendarMonthView.needTwoMonthView && calendar.config.month.showTwoCalendarIfNeed"
        [calendar]="calendar"
        [config]="config"
        [selection]="selection"
        [cellStyleClasses]="cellStyleClasses"
        [monthSelection]="selection.calendarMonthView.to"
        [getTemplate]="getTemplate.bind(this)">
    </calendar-month-view>

</div>
