
<div class="calendar">

    <ng-container *ngIf="calendarMonth else defaultMonths">
        <ng-container *ngTemplateOutlet="calendarMonth.template; context: getMonthContext(0)">
        </ng-container>

        <ng-container *ngTemplateOutlet="calendarMonth.template; context: getMonthContext(1)">
            </ng-container>
    </ng-container>

    <ng-template #defaultMonths>
        <calendar-month-view 
            [context]="getMonthContext(0)">
        </calendar-month-view> 
    
        <calendar-month-view 
            *ngIf="selection.calendarMonthView.needTwoMonthView && calendar.config.month.showTwoCalendarIfNeed"
            [context]="getMonthContext(1)">
        </calendar-month-view>
    </ng-template>

    

</div>
