<ng-container *ngIf="monthTemplate || calendarMonth else defaultMonths">
    <ng-container *ngTemplateOutlet="monthTemplate || calendarMonth; context: { $implicit : getMonthContext(0) }">
    </ng-container>

    <ng-container *ngTemplateOutlet="monthTemplate || calendarMonth; context: { $implicit : getMonthContext(1) }">
    </ng-container>
</ng-container>

<ng-template #defaultMonths>
    <trb-calendar-month [context]="getMonthContext(0)">
    </trb-calendar-month>

    <trb-calendar-month *ngIf="selection.calendarMonthView.needTwoMonthView && calendar.config.month.showTwoCalendarIfNeed"
        [context]="getMonthContext(1)">
    </trb-calendar-month>
</ng-template>